@media all and (max-width: 980px) {

  .horizontalLayoutSearchDisks {
    display: block;
  }

  .horizontalLayoutHeader {
    display: flex;
  }

  .logo {
    display: none;
  }

  .contactsImages {
    width: 80%;
  }

}

.dashboardLogo {
  width: 110px;
}

.header-layout {
    margin-right: 15px;
    height: 80px;
}

.vaadin-grid-links:hover {
    color: #005FDB;
    font-weight: bold;
    background-color : var(--lumo-primary-color-10pct);
}

:host([theme~="menu-vertical"]) [part="container"] {
    flex-direction: column;
}

.centered-text {
    text-align: center;
}

.contacts-image {
    border: 1px solid black;
    margin-bottom: 30px;
}

.album-photos {
    width: 100%;
    height: 100vh;
    border:none;
    margin:0;
    padding:0;z-index:999999;
}

.login-rich-content {
  background-image: url("/images/earth.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100%;
}
.login-rich-content vaadin-login-form {
  align-items: center;
  display: flex;
  max-width: 300px;
}
.login-rich-content vaadin-login-form-wrapper {
  background-image: none;
}